<?xml version='1.0' encoding='UTF-8'?>
<job-template plugin="cloudbees-template@3.11-SNAPSHOT">
  <description></description>
  <displayName>CloudBeers Standard Build Job</displayName>
  <instantiable>true</instantiable>
  <attributes>
    <template-attribute>
      <name>name</name>
      <displayName>Name</displayName>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties>
    <com.cloudbees.hudson.plugins.modeling.integrations.promoted__builds.PromotionProcessTemplateProperty>
      <templates>
        <entry>
          <string>Test pass</string>
          <com.cloudbees.hudson.plugins.XStreamDOM>
            <hudson.plugins.promoted____builds.PromotionProcess plugin="promoted-builds@2.10">
              <keepDependencies>false</keepDependencies>
              <properties>
                <com.cloudbees.jenkins.plugins.securecopy.ExportsJobProperty plugin="cloudbees-secure-copy@3.2">
                  <exports/>
                </com.cloudbees.jenkins.plugins.securecopy.ExportsJobProperty>
              </properties>
              <scm class="hudson.scm.NullSCM"/>
              <canRoam>false</canRoam>
              <disabled>false</disabled>
              <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
              <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
              <triggers class="vector"/>
              <concurrentBuild>false</concurrentBuild>
              <conditions>
                <hudson.plugins.promoted____builds.conditions.DownstreamPassCondition>
                  <jobs>Test</jobs>
                  <evenIfUnstable>false</evenIfUnstable>
                </hudson.plugins.promoted____builds.conditions.DownstreamPassCondition>
              </conditions>
              <icon>star-green</icon>
              <buildSteps>
                <hudson.plugins.promoted____builds.KeepBuildForeverAction/>
              </buildSteps>
            </hudson.plugins.promoted____builds.PromotionProcess>
          </com.cloudbees.hudson.plugins.XStreamDOM>
        </entry>
      </templates>
    </com.cloudbees.hudson.plugins.modeling.integrations.promoted__builds.PromotionProcessTemplateProperty>
  </properties>
  <transformer class="com.cloudbees.hudson.plugins.modeling.transformer.GroovyTemplateModelTransformer">
    <template>&lt;?xml version=&apos;1.0&apos; encoding=&apos;UTF-8&apos;?&gt;
&lt;project&gt;
  &lt;actions/&gt;
  &lt;description&gt;${parentInstance.gitUrl}&lt;/description&gt;
  &lt;keepDependencies&gt;false&lt;/keepDependencies&gt;
  &lt;properties&gt;
    &lt;nectar.plugins.rbac.groups.JobProxyGroupContainer plugin=&quot;nectar-rbac@3.8&quot;&gt;
      &lt;groups/&gt;
    &lt;/nectar.plugins.rbac.groups.JobProxyGroupContainer&gt;
    &lt;com.cloudbees.jenkins.plugins.securecopy.ExportsJobProperty plugin=&quot;cloudbees-secure-copy@3.2&quot;&gt;
      &lt;exports/&gt;
    &lt;/com.cloudbees.jenkins.plugins.securecopy.ExportsJobProperty&gt;
  &lt;/properties&gt;
  &lt;scm class=&quot;hudson.plugins.git.GitSCM&quot; plugin=&quot;git@1.3.0&quot;&gt;
    &lt;configVersion&gt;2&lt;/configVersion&gt;
    &lt;userRemoteConfigs&gt;
      &lt;hudson.plugins.git.UserRemoteConfig&gt;
        &lt;name&gt;&lt;/name&gt;
        &lt;refspec&gt;&lt;/refspec&gt;
        &lt;url&gt;${parentInstance.gitUrl}&lt;/url&gt;
      &lt;/hudson.plugins.git.UserRemoteConfig&gt;
    &lt;/userRemoteConfigs&gt;
    &lt;branches&gt;
      &lt;hudson.plugins.git.BranchSpec&gt;
        &lt;name&gt;**&lt;/name&gt;
      &lt;/hudson.plugins.git.BranchSpec&gt;
    &lt;/branches&gt;
    &lt;disableSubmodules&gt;false&lt;/disableSubmodules&gt;
    &lt;recursiveSubmodules&gt;false&lt;/recursiveSubmodules&gt;
    &lt;doGenerateSubmoduleConfigurations&gt;false&lt;/doGenerateSubmoduleConfigurations&gt;
    &lt;authorOrCommitter&gt;false&lt;/authorOrCommitter&gt;
    &lt;clean&gt;false&lt;/clean&gt;
    &lt;wipeOutWorkspace&gt;false&lt;/wipeOutWorkspace&gt;
    &lt;pruneBranches&gt;false&lt;/pruneBranches&gt;
    &lt;remotePoll&gt;false&lt;/remotePoll&gt;
    &lt;ignoreNotifyCommit&gt;false&lt;/ignoreNotifyCommit&gt;
    &lt;useShallowClone&gt;false&lt;/useShallowClone&gt;
    &lt;buildChooser class=&quot;hudson.plugins.git.util.DefaultBuildChooser&quot;/&gt;
    &lt;gitTool&gt;Default&lt;/gitTool&gt;
    &lt;submoduleCfg class=&quot;list&quot;/&gt;
    &lt;relativeTargetDir&gt;&lt;/relativeTargetDir&gt;
    &lt;reference&gt;&lt;/reference&gt;
    &lt;excludedRegions&gt;&lt;/excludedRegions&gt;
    &lt;excludedUsers&gt;&lt;/excludedUsers&gt;
    &lt;gitConfigName&gt;&lt;/gitConfigName&gt;
    &lt;gitConfigEmail&gt;&lt;/gitConfigEmail&gt;
    &lt;skipTag&gt;false&lt;/skipTag&gt;
    &lt;includedRegions&gt;&lt;/includedRegions&gt;
    &lt;scmName&gt;&lt;/scmName&gt;
  &lt;/scm&gt;
  &lt;quietPeriod&gt;0&lt;/quietPeriod&gt;
  &lt;canRoam&gt;true&lt;/canRoam&gt;
  &lt;disabled&gt;false&lt;/disabled&gt;
  &lt;blockBuildWhenDownstreamBuilding&gt;false&lt;/blockBuildWhenDownstreamBuilding&gt;
  &lt;blockBuildWhenUpstreamBuilding&gt;false&lt;/blockBuildWhenUpstreamBuilding&gt;
  &lt;triggers class=&quot;vector&quot;&gt;
    &lt;hudson.triggers.SCMTrigger&gt;
      &lt;spec&gt;* * * * *&lt;/spec&gt;
      &lt;ignorePostCommitHooks&gt;false&lt;/ignorePostCommitHooks&gt;
    &lt;/hudson.triggers.SCMTrigger&gt;
  &lt;/triggers&gt;
  &lt;concurrentBuild&gt;false&lt;/concurrentBuild&gt;
  &lt;builders&gt;
    &lt;hudson.tasks.Shell&gt;
      &lt;command&gt;date &amp;gt; base-build.info
echo \${GIT_COMMIT} &amp;gt;&amp;gt; base-build.info&lt;/command&gt;
    &lt;/hudson.tasks.Shell&gt;
    &lt;hudson.tasks.Maven&gt;
      &lt;targets&gt;clean verify -DskipTests&lt;/targets&gt;
      &lt;usePrivateRepository&gt;false&lt;/usePrivateRepository&gt;
      &lt;settings class=&quot;jenkins.mvn.DefaultSettingsProvider&quot;/&gt;
      &lt;globalSettings class=&quot;jenkins.mvn.DefaultGlobalSettingsProvider&quot;/&gt;
    &lt;/hudson.tasks.Maven&gt;
  &lt;/builders&gt;
  &lt;publishers&gt;
&lt;hudson.tasks.ArtifactArchiver plugin=&quot;cloudbees-jsync-archiver@4.0&quot;&gt;
&lt;artifacts&gt;base-build.info&lt;/artifacts&gt;
&lt;latestOnly&gt;false&lt;/latestOnly&gt;
&lt;allowEmptyArchive&gt;false&lt;/allowEmptyArchive&gt;
&lt;/hudson.tasks.ArtifactArchiver&gt;
&lt;hudson.tasks.BuildTrigger&gt;
&lt;childProjects&gt;Test&lt;/childProjects&gt;
&lt;threshold&gt;
&lt;name&gt;SUCCESS&lt;/name&gt;
&lt;ordinal&gt;0&lt;/ordinal&gt;
&lt;color&gt;BLUE&lt;/color&gt;
&lt;/threshold&gt;
&lt;/hudson.tasks.BuildTrigger&gt;
&lt;hudson.tasks.Fingerprinter&gt;
      &lt;targets&gt;pom.xml&lt;/targets&gt;
&lt;recordBuildArtifacts&gt;true&lt;/recordBuildArtifacts&gt;
&lt;/hudson.tasks.Fingerprinter&gt;
  &lt;/publishers&gt;
  &lt;buildWrappers/&gt;
&lt;/project&gt;</template>
  </transformer>
</job-template>